/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

/* heading id 선택자 */
#heading {
  margin-top: 50px;
  font-size: 30px;
  margin-left: 15%;
}
/* sub_title id 선택자 */
#sub_title {
  margin-left: 15%;
}

/*parent-box 선택자 */
#parent-box {
  display: flex;
  gap: 24px;
  margin-left: 15%;
}
/*사진 사이즈 통일*/
.image-item {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  position: relative;
}

.image-group {
  position: relative;
  display: inline-block;
}

.overlay-text {
  position: absolute;
  top: 16px;
  font-size: 16px;
  left: 24px;
  background-color: white;
  color: black;
  padding: 6px 16px;
  border-radius: 999px;
}

/* caption-text 선택자 */
.caption-text p {
  font-size: 13px;
}

/* bold-text 두껍게 조정 */
.bold-text {
  font-weight: bold;
  font-size: inherit;
}

/* 더보기 버튼1 선택자*/
#button1 {
  font-size: 16px;
  width: 120px;
  height: 45px;
  margin-left: 15%;
  margin-top: 30px;
  border-radius: 8px;
  border-width: 1px;
  background-color: white;

  transition: all 0.3s ease;
  cursor: pointer;
}

#button1:hover {
  background-color: lightgrey;
}

/* 별점 rating class */
.rating {
  text-align: right;
}

.tytle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* - + 버튼 크기 통일 */
.up_down {
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border-width: 1px;
  background-color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.up_down:hover {
  background-color: lightgray;
}

#number {
  font-size: 13px;
}

#numberx5 {
  font-size: 13px;
}

.ellipsis{
  width: 300px;
  height: 300px;
  text-overflow: ellipsis;
}